# --- NORMALIZACIÓN DE FINES DE LÍNEA ---
# Asegura LF en todos los archivos de código fuente y build (ideal para backend multiplataforma)
* text=auto eol=lf

# Archivos de Windows (scripts batch)
*.cmd text eol=crlf
*.bat text eol=crlf

# Archivos shell y scripts Unix
*.sh text eol=lf

# Archivos de proyecto Java / Maven
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.md text eol=lf